<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.publicmart">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:name=".MyApplication"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Splash_Screen"></activity>
        <activity android:name=".Shopping_List" />
        <activity android:name=".CreditActivity" />
        <activity android:name=".TestActivity" />
        <activity android:name=".FashionCategory" />
        <activity android:name=".HouseBoat" />
        <activity android:name=".TrainTicket" />
        <activity android:name=".Profile" />
        <activity android:name=".SearchBar" />
        <activity android:name=".BaseActivity" />
        <activity android:name=".ProductView" />
        <activity android:name=".Bookingstatus" />
        <activity android:name=".Payment" />
        <activity android:name=".orderstatusdet" />
        <activity android:name=".OrderStatus" />
        <activity android:name=".Fashion" />
        <activity android:name=".Products" />
        <activity android:name=".Services" />
        <activity android:name=".FlightTicket" />
        <activity android:name=".Home" />
        <activity android:name=".Registration" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="c89380f82afe92d8ff261a0e81d3cb84bc08f2c3" />
    </application>

</manifest>