<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.publicmart.android">

    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.VIBRATE" />

    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher_round"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">
        <activity android:name=".Activities.Terms"></activity>
        <activity android:name=".ServicePayment" />
        <activity android:name=".ProductPay" />
        <activity android:name=".WebViewActivity" />
        <activity android:name=".MenuDirect" />
        <activity android:name=".Activities.TabActivity" />
        <activity android:name=".Activities.Splash_Screen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Activities.Shopping_List" />
        <activity android:name=".Activities.CreditActivity" />
        <activity android:name=".Activities.TestActivity" />
        <activity android:name=".Activities.HouseBoat" />
        <activity android:name=".Activities.TrainTicket" />
        <activity android:name=".Activities.Profile" />
        <activity android:name=".Activities.SearchBar" />
        <activity android:name=".Activities.BaseActivity" />
        <activity android:name=".Activities.ProductView" />
        <activity android:name=".Activities.Bookingstatus" />
        <activity android:name=".Activities.Payment" />
        <activity android:name=".orderstatusdet" />
        <activity android:name=".Activities.OrderStatus" />
        <activity android:name=".Activities.Fashion" />
        <activity android:name=".Activities.Products" />
        <activity android:name=".Activities.Services" />
        <activity android:name=".Activities.FlightTicket" />
        <activity android:name=".Activities.Home" />
        <activity android:name=".Activities.Registration" />
        <activity android:name=".Activities.MainActivity" />
        <activity android:name=".Activities.Edit_Profile" />
        <activity android:name=".Activities.StatusActivity" />

        <service
            android:name=".FirebaseInstanceIDService"
            android:stopWithTask="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="c89380f82afe92d8ff261a0e81d3cb84bc08f2c3" />
    </application>

</manifest>